


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."enforce_user_device_limit"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
declare
  active_device_count integer;
begin
  if new.revoked_at is null then
    perform pg_advisory_xact_lock(hashtextextended(new.user_id::text, 0));

    select count(*)
      into active_device_count
      from public.user_devices
     where user_id = new.user_id
       and revoked_at is null
       and id <> new.id;

    if active_device_count >= 2 then
      raise exception 'A maximum of two active devices is allowed.' using errcode = 'check_violation';
    end if;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."enforce_user_device_limit"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  insert into public.profiles (id, display_name)
  values (new.id, nullif(new.raw_user_meta_data ->> 'display_name', ''));
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  new.updated_at = timezone('utc', now());
  return new;
end;
$$;


ALTER FUNCTION "public"."set_updated_at"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."activity_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "event_type" "text" NOT NULL,
    "entity_type" "text",
    "entity_id" "uuid",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."activity_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."app_settings" (
    "user_id" "uuid" NOT NULL,
    "timezone" "text" DEFAULT 'UTC'::"text" NOT NULL,
    "settings" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."app_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."business_metrics" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "metric_date" "date" NOT NULL,
    "name" "text" NOT NULL,
    "value" numeric NOT NULL,
    "unit" "text",
    "note" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."business_metrics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."commitments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "cadence" "text" DEFAULT 'daily'::"text" NOT NULL,
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "commitments_cadence_check" CHECK (("cadence" = ANY (ARRAY['daily'::"text", 'weekly'::"text", 'monthly'::"text", 'one_time'::"text"]))),
    CONSTRAINT "commitments_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'paused'::"text", 'completed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."commitments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."daily_reports" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "report_date" "date" NOT NULL,
    "wins" "text",
    "blockers" "text",
    "energy" smallint,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "daily_reports_energy_check" CHECK ((("energy" IS NULL) OR (("energy" >= 1) AND ("energy" <= 10))))
);


ALTER TABLE "public"."daily_reports" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."decision_notes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "observation" "text",
    "evidence" "text",
    "decision" "text",
    "reason" "text",
    "follow_up" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."decision_notes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."experiments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "hypothesis" "text",
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "started_on" "date",
    "ended_on" "date",
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "experiments_check" CHECK ((("ended_on" IS NULL) OR ("started_on" IS NULL) OR ("ended_on" >= "started_on"))),
    CONSTRAINT "experiments_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'running'::"text", 'completed'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."experiments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."focus_sessions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "task_id" "uuid",
    "started_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "active_started_at" timestamp with time zone,
    "paused_at" timestamp with time zone,
    "ended_at" timestamp with time zone,
    "duration_seconds" integer DEFAULT 0 NOT NULL,
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "focus_sessions_check" CHECK ((("ended_at" IS NULL) OR ("ended_at" >= "started_at"))),
    CONSTRAINT "focus_sessions_check1" CHECK (((("status" = ANY (ARRAY['active'::"text", 'paused'::"text"])) AND ("ended_at" IS NULL)) OR ("status" = ANY (ARRAY['completed'::"text", 'abandoned'::"text"])))),
    CONSTRAINT "focus_sessions_check2" CHECK (((("status" = 'active'::"text") AND ("active_started_at" IS NOT NULL)) OR ("status" <> 'active'::"text"))),
    CONSTRAINT "focus_sessions_duration_seconds_check" CHECK (("duration_seconds" >= 0)),
    CONSTRAINT "focus_sessions_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'paused'::"text", 'completed'::"text", 'abandoned'::"text"])))
);


ALTER TABLE "public"."focus_sessions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."goals" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "horizon_years" smallint,
    "target_date" "date",
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "import_key" "text",
    CONSTRAINT "goals_horizon_years_check" CHECK ((("horizon_years" IS NULL) OR (("horizon_years" >= 1) AND ("horizon_years" <= 100)))),
    CONSTRAINT "goals_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'paused'::"text", 'completed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."goals" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."knowledge_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "content" "text",
    "category" "text",
    "tags" "text"[] DEFAULT '{}'::"text"[] NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."knowledge_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."live_motivation_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "source" "text" NOT NULL,
    "source_url" "text",
    "author" "text",
    "external_id" "text",
    "content_hash" "text" NOT NULL,
    "published_at" timestamp with time zone,
    "fetched_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."live_motivation_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."live_motivation_shown" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "live_item_id" "uuid" NOT NULL,
    "shown_on" "date" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."live_motivation_shown" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."milestones" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "goal_id" "uuid",
    "title" "text" NOT NULL,
    "description" "text",
    "due_on" "date",
    "achieved_on" "date",
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "track" "text",
    "import_key" "text",
    CONSTRAINT "milestones_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'achieved'::"text", 'missed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."milestones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."monthly_reviews" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "month_start" "date" NOT NULL,
    "wins" "text",
    "misses" "text",
    "blockers" "text",
    "lessons" "text",
    "next_objective" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."monthly_reviews" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."motivation_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "content" "text",
    "kind" "text" DEFAULT 'note'::"text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "motivation_items_kind_check" CHECK (("kind" = ANY (ARRAY['note'::"text", 'principle'::"text", 'reminder'::"text", 'recovery'::"text"])))
);


ALTER TABLE "public"."motivation_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "display_name" "text",
    "timezone" "text" DEFAULT 'UTC'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roadmap_months" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "roadmap_phase_id" "uuid" NOT NULL,
    "month_start" "date" NOT NULL,
    "title" "text" NOT NULL,
    "objective" "text",
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "import_key" "text",
    CONSTRAINT "roadmap_months_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'active'::"text", 'completed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."roadmap_months" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roadmap_phases" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "roadmap_year_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "objective" "text",
    "sort_order" integer DEFAULT 0 NOT NULL,
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "import_key" "text",
    CONSTRAINT "roadmap_phases_sort_order_check" CHECK (("sort_order" >= 0)),
    CONSTRAINT "roadmap_phases_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'active'::"text", 'completed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."roadmap_phases" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roadmap_weeks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "roadmap_month_id" "uuid" NOT NULL,
    "week_start" "date" NOT NULL,
    "week_end" "date",
    "objective" "text",
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "import_key" "text",
    CONSTRAINT "roadmap_weeks_check" CHECK ((("week_end" IS NULL) OR ("week_end" >= "week_start"))),
    CONSTRAINT "roadmap_weeks_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'active'::"text", 'completed'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."roadmap_weeks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roadmap_years" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "goal_id" "uuid",
    "year" smallint NOT NULL,
    "title" "text" NOT NULL,
    "objective" "text",
    "status" "text" DEFAULT 'planned'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "import_key" "text",
    CONSTRAINT "roadmap_years_status_check" CHECK (("status" = ANY (ARRAY['planned'::"text", 'active'::"text", 'completed'::"text", 'archived'::"text"]))),
    CONSTRAINT "roadmap_years_year_check" CHECK ((("year" >= 2000) AND ("year" <= 2200)))
);


ALTER TABLE "public"."roadmap_years" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."task_completions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "task_id" "uuid" NOT NULL,
    "completed_on" "date" NOT NULL,
    "note" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."task_completions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tasks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "goal_id" "uuid",
    "roadmap_week_id" "uuid",
    "title" "text" NOT NULL,
    "description" "text",
    "status" "text" DEFAULT 'inbox'::"text" NOT NULL,
    "priority" smallint DEFAULT 3 NOT NULL,
    "due_on" "date",
    "scheduled_for" "date",
    "completed_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "estimated_minutes" integer,
    "import_key" "text",
    "track" "text",
    CONSTRAINT "tasks_estimated_minutes_check" CHECK ((("estimated_minutes" IS NULL) OR (("estimated_minutes" >= 1) AND ("estimated_minutes" <= 1440)))),
    CONSTRAINT "tasks_priority_check" CHECK ((("priority" >= 1) AND ("priority" <= 5))),
    CONSTRAINT "tasks_status_check" CHECK (("status" = ANY (ARRAY['inbox'::"text", 'planned'::"text", 'in_progress'::"text", 'completed'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."tasks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_devices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "device_name" "text" NOT NULL,
    "device_type" "text" NOT NULL,
    "credential_hash" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "last_seen_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "revoked_at" timestamp with time zone,
    CONSTRAINT "user_devices_device_name_check" CHECK ((("char_length"(TRIM(BOTH FROM "device_name")) >= 1) AND ("char_length"(TRIM(BOTH FROM "device_name")) <= 80))),
    CONSTRAINT "user_devices_device_type_check" CHECK (("device_type" = ANY (ARRAY['laptop'::"text", 'phone'::"text", 'other'::"text"])))
);


ALTER TABLE "public"."user_devices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."weekly_reviews" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "week_start" "date" NOT NULL,
    "summary" "text",
    "lessons" "text",
    "next_focus" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."weekly_reviews" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."youtube_channels" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "channel_name" "text",
    "channel_url" "text",
    "niche" "text",
    "target_audience" "text",
    "content_format" "text",
    "primary_objective" "text",
    "publishing_cadence" "text",
    "status" "text" DEFAULT 'planning'::"text" NOT NULL,
    "notes" "text",
    "content_angle" "text",
    "value_proposition" "text",
    "production_workflow" "text",
    "monetization_plan" "text",
    "strategic_focus" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "youtube_channels_status_check" CHECK (("status" = ANY (ARRAY['planning'::"text", 'active'::"text", 'paused'::"text", 'archived'::"text"])))
);


ALTER TABLE "public"."youtube_channels" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."youtube_metrics" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "metric_date" "date" NOT NULL,
    "name" "text" NOT NULL,
    "value" numeric NOT NULL,
    "unit" "text",
    "note" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."youtube_metrics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."youtube_videos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "notes" "text",
    "stage" "text" DEFAULT 'idea'::"text" NOT NULL,
    "priority" smallint DEFAULT 3 NOT NULL,
    "target_publish_date" "date",
    "task_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "youtube_videos_priority_check" CHECK ((("priority" >= 1) AND ("priority" <= 5))),
    CONSTRAINT "youtube_videos_stage_check" CHECK (("stage" = ANY (ARRAY['idea'::"text", 'research'::"text", 'script'::"text", 'voice'::"text", 'edit'::"text", 'thumbnail'::"text", 'ready'::"text", 'published'::"text"])))
);


ALTER TABLE "public"."youtube_videos" OWNER TO "postgres";


ALTER TABLE ONLY "public"."activity_logs"
    ADD CONSTRAINT "activity_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."app_settings"
    ADD CONSTRAINT "app_settings_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."business_metrics"
    ADD CONSTRAINT "business_metrics_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."business_metrics"
    ADD CONSTRAINT "business_metrics_user_id_metric_date_name_key" UNIQUE ("user_id", "metric_date", "name");



ALTER TABLE ONLY "public"."commitments"
    ADD CONSTRAINT "commitments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."daily_reports"
    ADD CONSTRAINT "daily_reports_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."daily_reports"
    ADD CONSTRAINT "daily_reports_user_id_report_date_key" UNIQUE ("user_id", "report_date");



ALTER TABLE ONLY "public"."decision_notes"
    ADD CONSTRAINT "decision_notes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."experiments"
    ADD CONSTRAINT "experiments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."focus_sessions"
    ADD CONSTRAINT "focus_sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."goals"
    ADD CONSTRAINT "goals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."knowledge_items"
    ADD CONSTRAINT "knowledge_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."live_motivation_items"
    ADD CONSTRAINT "live_motivation_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."live_motivation_shown"
    ADD CONSTRAINT "live_motivation_shown_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."milestones"
    ADD CONSTRAINT "milestones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."monthly_reviews"
    ADD CONSTRAINT "monthly_reviews_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."monthly_reviews"
    ADD CONSTRAINT "monthly_reviews_user_id_month_start_key" UNIQUE ("user_id", "month_start");



ALTER TABLE ONLY "public"."motivation_items"
    ADD CONSTRAINT "motivation_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."roadmap_months"
    ADD CONSTRAINT "roadmap_months_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."roadmap_months"
    ADD CONSTRAINT "roadmap_months_user_id_roadmap_phase_id_month_start_key" UNIQUE ("user_id", "roadmap_phase_id", "month_start");



ALTER TABLE ONLY "public"."roadmap_phases"
    ADD CONSTRAINT "roadmap_phases_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."roadmap_weeks"
    ADD CONSTRAINT "roadmap_weeks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."roadmap_weeks"
    ADD CONSTRAINT "roadmap_weeks_user_id_roadmap_month_id_week_start_key" UNIQUE ("user_id", "roadmap_month_id", "week_start");



ALTER TABLE ONLY "public"."roadmap_years"
    ADD CONSTRAINT "roadmap_years_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."roadmap_years"
    ADD CONSTRAINT "roadmap_years_user_id_year_key" UNIQUE ("user_id", "year");



ALTER TABLE ONLY "public"."task_completions"
    ADD CONSTRAINT "task_completions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."task_completions"
    ADD CONSTRAINT "task_completions_user_id_task_id_completed_on_key" UNIQUE ("user_id", "task_id", "completed_on");



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_devices"
    ADD CONSTRAINT "user_devices_credential_hash_key" UNIQUE ("credential_hash");



ALTER TABLE ONLY "public"."user_devices"
    ADD CONSTRAINT "user_devices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."weekly_reviews"
    ADD CONSTRAINT "weekly_reviews_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."weekly_reviews"
    ADD CONSTRAINT "weekly_reviews_user_id_week_start_key" UNIQUE ("user_id", "week_start");



ALTER TABLE ONLY "public"."youtube_channels"
    ADD CONSTRAINT "youtube_channels_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."youtube_channels"
    ADD CONSTRAINT "youtube_channels_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."youtube_metrics"
    ADD CONSTRAINT "youtube_metrics_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."youtube_metrics"
    ADD CONSTRAINT "youtube_metrics_user_id_metric_date_name_key" UNIQUE ("user_id", "metric_date", "name");



ALTER TABLE ONLY "public"."youtube_videos"
    ADD CONSTRAINT "youtube_videos_pkey" PRIMARY KEY ("id");



CREATE INDEX "activity_logs_user_created_at_idx" ON "public"."activity_logs" USING "btree" ("user_id", "created_at" DESC);



CREATE INDEX "business_metrics_user_date_idx" ON "public"."business_metrics" USING "btree" ("user_id", "metric_date");



CREATE INDEX "decision_notes_user_created_idx" ON "public"."decision_notes" USING "btree" ("user_id", "created_at" DESC);



CREATE UNIQUE INDEX "focus_sessions_one_open_per_user_idx" ON "public"."focus_sessions" USING "btree" ("user_id") WHERE ("status" = ANY (ARRAY['active'::"text", 'paused'::"text"]));



CREATE INDEX "focus_sessions_user_created_at_idx" ON "public"."focus_sessions" USING "btree" ("user_id", "created_at" DESC);



CREATE INDEX "focus_sessions_user_task_idx" ON "public"."focus_sessions" USING "btree" ("user_id", "task_id");



CREATE UNIQUE INDEX "goals_user_import_key_idx" ON "public"."goals" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE INDEX "knowledge_items_user_category_idx" ON "public"."knowledge_items" USING "btree" ("user_id", "category");



CREATE INDEX "live_motivation_items_content_hash_idx" ON "public"."live_motivation_items" USING "btree" ("content_hash");



CREATE INDEX "live_motivation_items_fetched_at_idx" ON "public"."live_motivation_items" USING "btree" ("fetched_at");



CREATE INDEX "live_motivation_items_user_id_idx" ON "public"."live_motivation_items" USING "btree" ("user_id");



CREATE INDEX "live_motivation_shown_user_item_idx" ON "public"."live_motivation_shown" USING "btree" ("user_id", "live_item_id");



CREATE INDEX "live_motivation_shown_user_shown_on_idx" ON "public"."live_motivation_shown" USING "btree" ("user_id", "shown_on" DESC);



CREATE UNIQUE INDEX "milestones_user_import_key_idx" ON "public"."milestones" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE INDEX "monthly_reviews_user_month_idx" ON "public"."monthly_reviews" USING "btree" ("user_id", "month_start");



CREATE INDEX "roadmap_months_phase_id_idx" ON "public"."roadmap_months" USING "btree" ("roadmap_phase_id");



CREATE UNIQUE INDEX "roadmap_months_user_import_key_idx" ON "public"."roadmap_months" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE UNIQUE INDEX "roadmap_phases_user_import_key_idx" ON "public"."roadmap_phases" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE INDEX "roadmap_phases_year_id_idx" ON "public"."roadmap_phases" USING "btree" ("roadmap_year_id");



CREATE INDEX "roadmap_weeks_month_id_idx" ON "public"."roadmap_weeks" USING "btree" ("roadmap_month_id");



CREATE UNIQUE INDEX "roadmap_weeks_user_import_key_idx" ON "public"."roadmap_weeks" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE UNIQUE INDEX "roadmap_years_user_import_key_idx" ON "public"."roadmap_years" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE INDEX "task_completions_user_date_idx" ON "public"."task_completions" USING "btree" ("user_id", "completed_on");



CREATE INDEX "tasks_user_due_on_idx" ON "public"."tasks" USING "btree" ("user_id", "due_on");



CREATE UNIQUE INDEX "tasks_user_import_key_idx" ON "public"."tasks" USING "btree" ("user_id", "import_key") WHERE ("import_key" IS NOT NULL);



CREATE INDEX "tasks_user_status_idx" ON "public"."tasks" USING "btree" ("user_id", "status");



CREATE INDEX "user_devices_user_active_idx" ON "public"."user_devices" USING "btree" ("user_id", "revoked_at");



CREATE INDEX "user_devices_user_last_seen_idx" ON "public"."user_devices" USING "btree" ("user_id", "last_seen_at" DESC);



CREATE INDEX "youtube_metrics_user_date_idx" ON "public"."youtube_metrics" USING "btree" ("user_id", "metric_date");



CREATE INDEX "youtube_videos_user_created_idx" ON "public"."youtube_videos" USING "btree" ("user_id", "created_at" DESC);



CREATE INDEX "youtube_videos_user_stage_idx" ON "public"."youtube_videos" USING "btree" ("user_id", "stage");



CREATE OR REPLACE TRIGGER "app_settings_set_updated_at" BEFORE UPDATE ON "public"."app_settings" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "business_metrics_set_updated_at" BEFORE UPDATE ON "public"."business_metrics" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "commitments_set_updated_at" BEFORE UPDATE ON "public"."commitments" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "daily_reports_set_updated_at" BEFORE UPDATE ON "public"."daily_reports" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "decision_notes_set_updated_at" BEFORE UPDATE ON "public"."decision_notes" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "experiments_set_updated_at" BEFORE UPDATE ON "public"."experiments" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "focus_sessions_set_updated_at" BEFORE UPDATE ON "public"."focus_sessions" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "goals_set_updated_at" BEFORE UPDATE ON "public"."goals" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "knowledge_items_set_updated_at" BEFORE UPDATE ON "public"."knowledge_items" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "live_motivation_items_set_updated_at" BEFORE UPDATE ON "public"."live_motivation_items" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "milestones_set_updated_at" BEFORE UPDATE ON "public"."milestones" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "monthly_reviews_set_updated_at" BEFORE UPDATE ON "public"."monthly_reviews" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "motivation_items_set_updated_at" BEFORE UPDATE ON "public"."motivation_items" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "profiles_set_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "roadmap_months_set_updated_at" BEFORE UPDATE ON "public"."roadmap_months" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "roadmap_phases_set_updated_at" BEFORE UPDATE ON "public"."roadmap_phases" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "roadmap_weeks_set_updated_at" BEFORE UPDATE ON "public"."roadmap_weeks" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "roadmap_years_set_updated_at" BEFORE UPDATE ON "public"."roadmap_years" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "tasks_set_updated_at" BEFORE UPDATE ON "public"."tasks" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "user_devices_enforce_limit" BEFORE INSERT OR UPDATE OF "revoked_at" ON "public"."user_devices" FOR EACH ROW EXECUTE FUNCTION "public"."enforce_user_device_limit"();



CREATE OR REPLACE TRIGGER "weekly_reviews_set_updated_at" BEFORE UPDATE ON "public"."weekly_reviews" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "youtube_channels_set_updated_at" BEFORE UPDATE ON "public"."youtube_channels" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "youtube_metrics_set_updated_at" BEFORE UPDATE ON "public"."youtube_metrics" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



CREATE OR REPLACE TRIGGER "youtube_videos_set_updated_at" BEFORE UPDATE ON "public"."youtube_videos" FOR EACH ROW EXECUTE FUNCTION "public"."set_updated_at"();



ALTER TABLE ONLY "public"."activity_logs"
    ADD CONSTRAINT "activity_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."app_settings"
    ADD CONSTRAINT "app_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."business_metrics"
    ADD CONSTRAINT "business_metrics_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."commitments"
    ADD CONSTRAINT "commitments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."daily_reports"
    ADD CONSTRAINT "daily_reports_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."decision_notes"
    ADD CONSTRAINT "decision_notes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."experiments"
    ADD CONSTRAINT "experiments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."focus_sessions"
    ADD CONSTRAINT "focus_sessions_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."tasks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."focus_sessions"
    ADD CONSTRAINT "focus_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."goals"
    ADD CONSTRAINT "goals_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."knowledge_items"
    ADD CONSTRAINT "knowledge_items_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."live_motivation_items"
    ADD CONSTRAINT "live_motivation_items_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."live_motivation_shown"
    ADD CONSTRAINT "live_motivation_shown_live_item_id_fkey" FOREIGN KEY ("live_item_id") REFERENCES "public"."live_motivation_items"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."live_motivation_shown"
    ADD CONSTRAINT "live_motivation_shown_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."milestones"
    ADD CONSTRAINT "milestones_goal_id_fkey" FOREIGN KEY ("goal_id") REFERENCES "public"."goals"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."milestones"
    ADD CONSTRAINT "milestones_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."monthly_reviews"
    ADD CONSTRAINT "monthly_reviews_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."motivation_items"
    ADD CONSTRAINT "motivation_items_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_months"
    ADD CONSTRAINT "roadmap_months_roadmap_phase_id_fkey" FOREIGN KEY ("roadmap_phase_id") REFERENCES "public"."roadmap_phases"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_months"
    ADD CONSTRAINT "roadmap_months_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_phases"
    ADD CONSTRAINT "roadmap_phases_roadmap_year_id_fkey" FOREIGN KEY ("roadmap_year_id") REFERENCES "public"."roadmap_years"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_phases"
    ADD CONSTRAINT "roadmap_phases_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_weeks"
    ADD CONSTRAINT "roadmap_weeks_roadmap_month_id_fkey" FOREIGN KEY ("roadmap_month_id") REFERENCES "public"."roadmap_months"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_weeks"
    ADD CONSTRAINT "roadmap_weeks_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roadmap_years"
    ADD CONSTRAINT "roadmap_years_goal_id_fkey" FOREIGN KEY ("goal_id") REFERENCES "public"."goals"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."roadmap_years"
    ADD CONSTRAINT "roadmap_years_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."task_completions"
    ADD CONSTRAINT "task_completions_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."tasks"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."task_completions"
    ADD CONSTRAINT "task_completions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_goal_id_fkey" FOREIGN KEY ("goal_id") REFERENCES "public"."goals"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_roadmap_week_id_fkey" FOREIGN KEY ("roadmap_week_id") REFERENCES "public"."roadmap_weeks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_devices"
    ADD CONSTRAINT "user_devices_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."weekly_reviews"
    ADD CONSTRAINT "weekly_reviews_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."youtube_channels"
    ADD CONSTRAINT "youtube_channels_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."youtube_metrics"
    ADD CONSTRAINT "youtube_metrics_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."youtube_videos"
    ADD CONSTRAINT "youtube_videos_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."tasks"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."youtube_videos"
    ADD CONSTRAINT "youtube_videos_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "activity logs owner access" ON "public"."activity_logs" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."activity_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "app settings owner access" ON "public"."app_settings" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."app_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "business metrics owner access" ON "public"."business_metrics" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."business_metrics" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."commitments" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "commitments owner access" ON "public"."commitments" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "daily reports owner access" ON "public"."daily_reports" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."daily_reports" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "decision notes owner access" ON "public"."decision_notes" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."decision_notes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."experiments" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "experiments owner access" ON "public"."experiments" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "focus sessions owner access" ON "public"."focus_sessions" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."focus_sessions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."goals" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "goals owner access" ON "public"."goals" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "knowledge items owner access" ON "public"."knowledge_items" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."knowledge_items" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "live motivation items owner access" ON "public"."live_motivation_items" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "live motivation shown owner access" ON "public"."live_motivation_shown" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."live_motivation_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."live_motivation_shown" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."milestones" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "milestones owner access" ON "public"."milestones" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "monthly reviews owner access" ON "public"."monthly_reviews" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."monthly_reviews" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "motivation items owner access" ON "public"."motivation_items" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."motivation_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profiles owner access" ON "public"."profiles" TO "authenticated" USING (("id" = "auth"."uid"())) WITH CHECK (("id" = "auth"."uid"()));



CREATE POLICY "roadmap months owner access" ON "public"."roadmap_months" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "roadmap phases owner access" ON "public"."roadmap_phases" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "roadmap weeks owner access" ON "public"."roadmap_weeks" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "roadmap years owner access" ON "public"."roadmap_years" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."roadmap_months" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."roadmap_phases" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."roadmap_weeks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."roadmap_years" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "task completions owner access" ON "public"."task_completions" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."task_completions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tasks" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "tasks owner access" ON "public"."tasks" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "user devices owner access" ON "public"."user_devices" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."user_devices" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "weekly reviews owner access" ON "public"."weekly_reviews" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."weekly_reviews" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "youtube channels owner access" ON "public"."youtube_channels" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "youtube metrics owner access" ON "public"."youtube_metrics" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "youtube videos owner access" ON "public"."youtube_videos" TO "authenticated" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."youtube_channels" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."youtube_metrics" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."youtube_videos" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."enforce_user_device_limit"() TO "anon";
GRANT ALL ON FUNCTION "public"."enforce_user_device_limit"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."enforce_user_device_limit"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_updated_at"() TO "service_role";



GRANT ALL ON TABLE "public"."activity_logs" TO "anon";
GRANT ALL ON TABLE "public"."activity_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."activity_logs" TO "service_role";



GRANT ALL ON TABLE "public"."app_settings" TO "anon";
GRANT ALL ON TABLE "public"."app_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."app_settings" TO "service_role";



GRANT ALL ON TABLE "public"."business_metrics" TO "anon";
GRANT ALL ON TABLE "public"."business_metrics" TO "authenticated";
GRANT ALL ON TABLE "public"."business_metrics" TO "service_role";



GRANT ALL ON TABLE "public"."commitments" TO "anon";
GRANT ALL ON TABLE "public"."commitments" TO "authenticated";
GRANT ALL ON TABLE "public"."commitments" TO "service_role";



GRANT ALL ON TABLE "public"."daily_reports" TO "anon";
GRANT ALL ON TABLE "public"."daily_reports" TO "authenticated";
GRANT ALL ON TABLE "public"."daily_reports" TO "service_role";



GRANT ALL ON TABLE "public"."decision_notes" TO "anon";
GRANT ALL ON TABLE "public"."decision_notes" TO "authenticated";
GRANT ALL ON TABLE "public"."decision_notes" TO "service_role";



GRANT ALL ON TABLE "public"."experiments" TO "anon";
GRANT ALL ON TABLE "public"."experiments" TO "authenticated";
GRANT ALL ON TABLE "public"."experiments" TO "service_role";



GRANT ALL ON TABLE "public"."focus_sessions" TO "anon";
GRANT ALL ON TABLE "public"."focus_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."focus_sessions" TO "service_role";



GRANT ALL ON TABLE "public"."goals" TO "anon";
GRANT ALL ON TABLE "public"."goals" TO "authenticated";
GRANT ALL ON TABLE "public"."goals" TO "service_role";



GRANT ALL ON TABLE "public"."knowledge_items" TO "anon";
GRANT ALL ON TABLE "public"."knowledge_items" TO "authenticated";
GRANT ALL ON TABLE "public"."knowledge_items" TO "service_role";



GRANT ALL ON TABLE "public"."live_motivation_items" TO "anon";
GRANT ALL ON TABLE "public"."live_motivation_items" TO "authenticated";
GRANT ALL ON TABLE "public"."live_motivation_items" TO "service_role";



GRANT ALL ON TABLE "public"."live_motivation_shown" TO "anon";
GRANT ALL ON TABLE "public"."live_motivation_shown" TO "authenticated";
GRANT ALL ON TABLE "public"."live_motivation_shown" TO "service_role";



GRANT ALL ON TABLE "public"."milestones" TO "anon";
GRANT ALL ON TABLE "public"."milestones" TO "authenticated";
GRANT ALL ON TABLE "public"."milestones" TO "service_role";



GRANT ALL ON TABLE "public"."monthly_reviews" TO "anon";
GRANT ALL ON TABLE "public"."monthly_reviews" TO "authenticated";
GRANT ALL ON TABLE "public"."monthly_reviews" TO "service_role";



GRANT ALL ON TABLE "public"."motivation_items" TO "anon";
GRANT ALL ON TABLE "public"."motivation_items" TO "authenticated";
GRANT ALL ON TABLE "public"."motivation_items" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."roadmap_months" TO "anon";
GRANT ALL ON TABLE "public"."roadmap_months" TO "authenticated";
GRANT ALL ON TABLE "public"."roadmap_months" TO "service_role";



GRANT ALL ON TABLE "public"."roadmap_phases" TO "anon";
GRANT ALL ON TABLE "public"."roadmap_phases" TO "authenticated";
GRANT ALL ON TABLE "public"."roadmap_phases" TO "service_role";



GRANT ALL ON TABLE "public"."roadmap_weeks" TO "anon";
GRANT ALL ON TABLE "public"."roadmap_weeks" TO "authenticated";
GRANT ALL ON TABLE "public"."roadmap_weeks" TO "service_role";



GRANT ALL ON TABLE "public"."roadmap_years" TO "anon";
GRANT ALL ON TABLE "public"."roadmap_years" TO "authenticated";
GRANT ALL ON TABLE "public"."roadmap_years" TO "service_role";



GRANT ALL ON TABLE "public"."task_completions" TO "anon";
GRANT ALL ON TABLE "public"."task_completions" TO "authenticated";
GRANT ALL ON TABLE "public"."task_completions" TO "service_role";



GRANT ALL ON TABLE "public"."tasks" TO "anon";
GRANT ALL ON TABLE "public"."tasks" TO "authenticated";
GRANT ALL ON TABLE "public"."tasks" TO "service_role";



GRANT ALL ON TABLE "public"."user_devices" TO "anon";
GRANT ALL ON TABLE "public"."user_devices" TO "authenticated";
GRANT ALL ON TABLE "public"."user_devices" TO "service_role";



GRANT ALL ON TABLE "public"."weekly_reviews" TO "anon";
GRANT ALL ON TABLE "public"."weekly_reviews" TO "authenticated";
GRANT ALL ON TABLE "public"."weekly_reviews" TO "service_role";



GRANT ALL ON TABLE "public"."youtube_channels" TO "anon";
GRANT ALL ON TABLE "public"."youtube_channels" TO "authenticated";
GRANT ALL ON TABLE "public"."youtube_channels" TO "service_role";



GRANT ALL ON TABLE "public"."youtube_metrics" TO "anon";
GRANT ALL ON TABLE "public"."youtube_metrics" TO "authenticated";
GRANT ALL ON TABLE "public"."youtube_metrics" TO "service_role";



GRANT ALL ON TABLE "public"."youtube_videos" TO "anon";
GRANT ALL ON TABLE "public"."youtube_videos" TO "authenticated";
GRANT ALL ON TABLE "public"."youtube_videos" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







